<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/style.css'>
    <!-- <img src="/rps.jpeg" id="back" alt="rock-paper-scissors"> -->
    <title>rock paper scissors</title>
    <header>
        <h1>ROCK, PAPER, SCISSORS</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/welcome">Welcome</a></li>
        <li><a href="/game">Game</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
