<h2>WELCOME TO ROCK, PAPER, SCISSORS!</h2>
<p>In this game, players will need to enter their 'hand' of either rock, paper or scissors into the address bar, separated by a '/'.</p>
<p>(Granted, the second player is at a distinct advantage here, as it will not be easy to hide the first players go before.)</p>
<p>In my infinate genius, I will then output onto your browser the winning hand.</p>
<p>TaaaaDaaa!</p>
<br/>
<p>{winky face here}</p>
